---
layout: base.njk
---
<header>
    <a href="/">{{ site.back_home_text }}</a>
    <h1>{{ math4.title or site.title }}</h1>

    {% set subtitle = math4.subtitle%}
    {% if subtitle %}
        <p>{{ subtitle }}</p>
    {% endif %}
</header>
<main>
    <hr>
    {% set entries = math4.menu %}
    {% include "menu.njk" %}
</main>