---
layout: base.njk
---
<header>
    <a href="/">{{ site.back_home_text }}</a>
    <h1>{{ stats.title or site.title }}</h1>

    {% set subtitle = stats.subtitle%}
    {% if subtitle %}
        <p>{{ subtitle }}</p>
    {% endif %}
</header>
<main>
    <hr>
    {% set entries = stats.menu %}
    {% include "menu.njk" %}
</main>